/*блок заголовок*/
.khan__quote{
    margin:0;
    padding: 0;
    padding-top: 50px; 
    padding-bottom: 36px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    width: 790px;
}