/*блок контент страницы*/
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*блок шапки сайта*/
.header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  }
/*название шапки сайта*/
.header__title{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font:102px/96px bolder;
  width: 730px;
  margin-left: 64px;
  display: flex;
  align-items:center;
  z-index: 2;
}
/*название лида шапки сайта*/
.header__subtitle{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font:18px/25px normal;
  z-index: 2;
}
/*главное изображение шапки сайта*/
.header__main-illustration{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position:absolute;
  bottom: 0px;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 1;
}
/* дополнительное изображение квадрата в шапке сайта*/
.header__square-pic {
  box-sizing: border-box;
  margin:0;
  padding:0;
  position:absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/*блок логотипа */
.logo{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 183px;
  height: 32px;
}
/*модификатор расположения логотипа в шапке сайта*/
.logo_place-header{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position:absolute;
  top:30px;
  left: 64px;

}
/*блок описание*/
.description{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 600px;
  max-height: 756px;

}
/*блок таблица из двух столбцов*/
.two-columns{
  padding: 0;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
 }
/*элемент описывающий первый столбец*/
.two-columns__brief{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:18px;
  line-height:1.2;
  font-weight: normal;
  width: 175px;
  color:#2f80ed;
}
/*элемент описывающий второй столбец*/
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*элемент описывающий параграфы второго столбца*/
.two-columns__paragraph{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 30px;
}
/*псевдоэлемент- убирает отступ последнего абзаца*/
.two-columns__paragraph:last-of-type{
  margin-bottom: 0;
}
/*элемент для выделения полужирным шрифтом*/
.two-columns__span-accent{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
/*блок описание цифр*/
.digits{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 600px;
  max-height: 756px;
}
/*блок заголовок*/
.section-title{
  padding: 0;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bolder;
  margin-bottom: 20px;
}
/*модификатор темной темы заголовка*/
.section-title_theme_dark{
  position: relative;
  color:white;
  margin-bottom: 20px;
  z-index: 1;
}
/*блок подзаголовок*/
.section-subtitle{
  padding: 0;
  box-sizing: border-box;
  display:flex;
  margin: auto;
  justify-content: center;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  }
/*модификатор темной темы подзаголовка*/
.section-subtitle_theme_dark{
  color: white;
}
/*блок таблица через flex*/
.table{
  padding: 0;
  box-sizing: border-box;
  width: 1100px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content:space-between;

}
/*модификатор темной темы таблицы*/
.table_theme_dark{
  color: white;
  margin-bottom: 90px;  
}
/*элемент ячейка таблицы*/
.table__cell{
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 250px;
  
  margin-top: 60px;

}

/* модификатор темной темы ячейки */
.table__cell_theme_dark {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}
/*элемент заголовок ячейки таблицы*/
.table__heading{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bolder;
  
}
/*модификатор темной темы заголовка ячейки таблицы*/
.table__heading_theme_dark{
  color:white;
}
/*элемент текст ячейки таблицы*/
.table__text{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;

}
/*модификатор темной темы текста таблицы*/
.table__text_theme_dark{
  color:white;
}
/*блок Фейнман*/
.feynman{
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 890px;
    /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  margin-top: 100px;
}
/*элемент изображения*/
.feynman__illustration{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 867px;height:637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
/*заголовок блока Фейнмана*/
.feynman__title{
  box-sizing: border-box;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
  z-index: 2;
  padding-top: 100px;
}
/*Подзаголовок блока Фейнмана*/
.feynman__subtitle{
  box-sizing: border-box;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index:2;
}
/*Ссылка в блоке Фейнмана*/
.feynman__link{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
/*Блок Кауфмана*/
.kaufman{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  min-height: 600px;
  max-height: 756px;
}
/*элемент описание изображения треугольника*/
.kaufman__triangle{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 877px;
  height: 877px;
  top:0px;
  right: -210px;
}
/*блок подвала сайта*/
.footer{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  max-height: 500px;
}
/*элемент описывает расположение колонок подвала*/
.footer__columns{
  box-sizing: border-box;
  padding: 0;
  position: relative;
  min-height: 350px;
  width: 90%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content:space-between;
 
}
/*модификатор описывающий положение элемента автора в подвале*/
.footer__column_content_copyright{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-basis: 711px;
  
}
/*модификатор описывающий положение элемента "О практикуме"в подвале*/
.footer__column_content_info{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*модификатор описывающий положение элемента "Соцсети" в подвале*/
.footer__column_content_social{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*модификатор блока лого для подвала*/
.logo_place_footer{
  display: flex;
  margin: 0;
  padding: 0;
}
/*элемент описывает автора работы*/
.footer__author{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:white;
  position:absolute;
padding-top: 18px;
padding-bottom: 18px;
left: 0;
bottom: 0;
line-height: 25px;
font-size: 18px;
font-weight: normal;
}
/*заголовок колонки подвала*/
.footer__column-heading{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  color:white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}
/*элемент описывает ссылки в подвале*/
.footer__column-links{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}
/*псевдоэлемент добавляет отступ последней ссылке подвала*/
.footer__column-links:last-of-type{
  padding-bottom: 16px;
}
/*элемент иконка*/
.footer__social-icon{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 16px;
  min-height: 16px;
  padding-right: 10px;
}
/*элемент ссылка в подвале*/
.footer__column-link{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}